name: Pull request

permissions:
  contents: read

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_os_versions: '["amazonlinux2", "bookworm", "noble", "jammy", "rhel-ubi9"]'
      linux_build_command: "swift build"
      linux_exclude_swift_versions: '[{"swift_version": "5.8"}, {"swift_version": "5.9"}, {"swift_version": "5.10"}]'
      windows_build_command: "Invoke-Program swift build"
      windows_exclude_swift_versions: '[{"swift_version": "5.9"}]'
      macos_build_command: "xcrun swift build"
      macos_exclude_xcode_versions: '[{"xcode_version": "16.0"}, {"xcode_version": "16.1"}]'
      enable_macos_checks: true
      enable_ios_checks: true
      enable_linux_static_sdk_build: true
      enable_wasm_sdk_build: true
      enable_embedded_wasm_sdk_build: true
      enable_android_sdk_build: true

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "Swift.org"
      license_header_check_enabled: false
      unacceptable_language_check_enabled: false
